@font-face {
  font-family: 'AmaticSC';
  src: url('AmaticSC-Regular.ttf');
}

@font-face {
  font-family: 'Young Serif';
  src: url('YoungSerif-Regular.ttf');
}

:root {
  background: linear-gradient(
    135deg,
    var(--purple-red-dark),
    var(--purple-red)
  );
  --brown-50: rgba(110, 55, 0, 0.5);
  --gold-dark: rgb(171, 118, 6);
  --gold: rgb(219, 169, 23);
  --gold-light: rgb(245, 208, 70);
  --yellow-note: rgb(253, 253, 171);
  --orange: rgb(226, 94, 62);
  --purple-red: rgb(174, 68, 90);
  --purple-red-dark: rgb(102, 37, 73);
  --blue-dark: rgb(4, 111, 133);
  --blue: rgb(122, 200, 213);
  --green: rgb(50, 205, 50);
  --red: rgb(230, 50, 0);
  --white: rgb(230, 225, 220);
  --white-20: rgba(230, 225, 220, 0.2);
  --grey-light: rgb(180, 180, 180);
  --grey: rgb(130, 130, 130);
  --grey-dark: rgb(64, 64, 64);
  --black: rgb(20, 20, 20);
  --black-75: rgba(20, 20, 20, 0.75);
  --black-50: rgba(20, 20, 20, 0.5);

  --black-20: rgba(20, 20, 20, 0.2);

  --text-shadow-default: 0.1rem 0.1rem 0 var(--black-50);

  --mode: '';
  --card-border-radius: 4.75% / 3.5%;

  --max-content-width: 960px;
  --fade-in-default: fade-in 400ms ease-out;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'AmaticSC', sans-serif;
  font-size: 1rem;
  min-height: 100%;
  text-align: center;
  color: var(--white);
}

body {
  font-size: 3rem;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  margin: 0;
}

#bg-items {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  container-type: inline-size;
}
#bg-items > div {
  --pos-x: 0;
  --pos-y: 0;
  --pos-x-start: calc(var(--pos-x) * 20cqw - 30cqw);
  --pos-y-start: calc(var(--pos-y) * 20cqh - 10cqh);
  font-family: 'Young Serif', serif;
  font-size: min(12rem, 20cqmin);
  font-weight: normal;
  line-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  transform: translate(var(--pos-x-start), var(--pos-y-start));
  animation: bg-item 60s infinite linear;
  color: var(--black-20);
}
#bg-items > div:before {
  content: var(--mode);
  position: absolute;
  top: 0;
  left: 0;
  translate: -50% -50%;
}

#copyright {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: var(--text-shadow-default);
}

#fan-content-policy {
  font-family: system-ui;
  font-size: 0.75rem;
  margin: 0;
  padding: 1rem;
  color: var(--black-50);
}

kbd {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--gold-light);
}

a:hover {
  text-decoration: underline;
}

#title {
  font-size: 5rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-shadow: var(--text-shadow-default);
}

#mode-toggle {
  user-select: none;
  transition: scale 200ms;
  animation: 3s infinite pulse;

  -webkit-tap-highlight-color: transparent;
}

#mode-toggle.active:hover {
  scale: 0.9;
  filter: drop-shadow(0 0 2.5rem var(--orange))
    drop-shadow(0 0 0.5rem var(--orange));
}

#mode-toggle.active:active {
  scale: 0.1 0.9;
  filter: blur(2px);
}

.results #mode-toggle {
  animation: none;
}

.hint {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: var(--fade-in-default);
  color: var(--gold-light);
  text-shadow: var(--text-shadow-default);
  translate: -50% 90%;
}

.hint-arrow {
  display: inline-block;
  rotate: z -25deg;
  translate: 0 -15%;
}

#mode-toggle:not(.active) + .hint {
  display: none;
}

.hint-controls {
  position: fixed;
  z-index: -1;
  translate: -2% 0;
}

#cheatmode {
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: var(--fade-in-default);
  color: var(--red);
  translate: 20% 90%;
}

#cheat-data {
  font-family: 'Young Serif', serif;
  font-size: 2rem;
  transition: opacity 200ms;
  animation: var(--fade-in-default);
  text-shadow: var(--text-shadow-default);
}

.price-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding: 0.75rem 0;
  border-radius: 1rem;
  background: var(--black-20);
}

.price-row .coin {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.row {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.col {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 2rem;
}

.card {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-radius: var(--card-border-radius);
  aspect-ratio: 61/85;
}

.coin {
  display: inline-flex;
  scale: 0.8;
  translate: 0 -0.1em;
}

.coin:after {
  content: var(--mode);
}

.coin,
.card:before {
  font-family: 'Young Serif', serif;
  font-weight: normal;
  line-height: 0;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  padding-top: 0.08em;
  color: var(--gold-light);
  border: 0.14em solid var(--gold-light);
  border-radius: 99rem;
  background: var(--gold);
  box-shadow:
    inset 0 0.125em 0.125em -0.125em var(--brown-50),
    0 0.125em 0.125em -0.125em var(--brown-50),
    0 0.125em var(--gold);
  text-shadow: 0 0.03em var(--brown-50);
  aspect-ratio: 1/1 !important;
}

.card:before {
  font-size: 4rem;
  position: absolute;
  top: calc(50% - 2rem);
  left: 50%;
  display: flex;
  content: var(--mode);
  animation:
    rotateY 8s infinite cubic-bezier(0, 0.5, 0.5, 1),
    drop 8s infinite linear,
    topple 8s infinite cubic-bezier(0.7, 0, 0.84, 0);

  translate: -50% -50%;
}

.card:after {
  font-weight: bold;
  position: absolute;
  top: calc(50% + 2rem);
  left: 50%;
  content: 'Loading\a from Scryfall...';
  white-space: pre;
  translate: -50%;
}

.card img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  max-width: 100%;
  user-select: none;
  transition: scale 300ms;
  border: none;
  border-radius: var(--card-border-radius);
  outline: none;
  box-shadow: 0 0 0.5rem var(--black-20);
  -webkit-tap-highlight-color: transparent;
}

.results .card img {
  z-index: 0 !important;
}

.card img[src=''] {
  visibility: hidden;
}

/* TODO: Enable when FF support is sorted out */
/*.card:has(img[src='']) {*/
/*  background: var(--black-20);*/
/*}*/
/*.card:has(img:not([src=''])):before,*/
/*.card:has(img:not([src=''])):after {*/
/*  display: none;*/
/*}*/
main:not(.results) .card:not(.active),
.card.loading {
  background: var(--black-20);
}

.card.active:not(.loading):before,
.card.active:not(.loading):after,
.results .card:before {
  display: none;
}

/* END TODO */

.col:hover .card.active:not(.loading) img {
  box-shadow:
    0 0 5rem 0.1rem var(--orange),
    0 0 1rem 0.1rem var(--orange);
  scale: 1.1;
}

main:not(.results) .row:hover .col:not(:hover) .card.active:not(.loading) img {
  scale: 0.95;
}

.results .card:after {
  pointer-events: none;
  font-size: 20rem;
  line-height: 0;
  top: 0;
  left: 0;
  display: flex !important;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 45%;
  content: '';
  animation: var(--fade-in-default);
  border-radius: var(--card-border-radius);
  background: var(--black-50);
  text-shadow: var(--text-shadow-default);
  translate: 0 0;
}

.success:after {
  content: '\2714' !important;
  color: var(--green);
  background: none !important;
}

.draw:after {
  font-family: 'Young Serif', sans-serif;
  content: '=' !important;
  color: var(--gold-light);
  background: none !important;
}

.failure:after {
  content: '\2718' !important;
  color: var(--red);
  background: none !important;
}

.prices {
  --prices-font-size: 5rem;
  --oversize: 0.15;
  container-type: inline-size;
  font-family: 'Young Serif', serif;
  font-size: 5rem;
  position: absolute;
  bottom: 24%;
  left: 0;
  display: none;
  width: calc(100% + var(--prices-font-size) * (var(--oversize) * 2));
  user-select: none;
  animation: var(--fade-in-default);
  background: var(--gold);
  text-shadow: 0 0.03em var(--brown-50);
  translate: calc(var(--prices-font-size) * var(--oversize) * -1) 50%;
  filter: drop-shadow(0 0.05rem 0.1rem var(--black-75));
}

.prices:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  content: '';
  border: calc(var(--prices-font-size) * (var(--oversize) / 2)) solid
    transparent;
  border-top-color: var(--gold-dark);
  border-right-color: var(--gold-dark);
  translate: 0 100%;
}

.prices:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  content: '';
  border: calc(var(--prices-font-size) * (var(--oversize) / 2)) solid
    transparent;
  border-top-color: var(--gold-dark);
  border-left-color: var(--gold-dark);
  translate: 0 100%;
}

.prices .coin {
  margin: -1rem 0 -1.5rem 0;
}

.prices > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results .prices {
  display: block;
}

.price {
  font-size: min(15.7cqw, 0.75em);
  line-height: min(15.7cqw, 0.75em);
  position: absolute;
  top: 50%;
  left: 60%;
  translate: -50% -56%;
}

.active {
  cursor: pointer;
}

button {
  font: inherit;
  font-weight: bold;
  min-width: 8rem;
  padding: 0.24rem 1.2rem;
  cursor: pointer;
  user-select: none !important;
  transition: all 150ms ease-out;
  transform-origin: bottom center;
  color: var(--white);
  border: 0.15rem solid var(--black-50);
  border-radius: 0.5rem;
  background: var(--blue-dark);
  box-shadow: 0 0.4rem 0 var(--grey-dark);
  text-shadow: var(--text-shadow-default);
}

button:hover {
  box-shadow: 0 0.2rem 0 var(--grey-dark);
  translate: 0 0.2rem;
}

button:active {
  opacity: 0.8;
  box-shadow: none;
  translate: 0 0.4rem;
  filter: none;
}

#reset-btn-container {
  position: relative;
  margin: 0;
  padding: 3rem 0;
}

#win-rate {
  font-size: 2.8rem !important;
  text-align: center;
}

#win-rate-score {
  color: var(--blue-dark);
}

#result-list {
  font-weight: bold;
  position: relative;
  display: block;
  width: 50%;
  max-width: calc(var(--max-content-width) / 2);
  margin: 1.2rem auto 0;
  padding: 4rem 2rem 2rem;
  transition: opacity 200ms;
  text-align: left;
  color: var(--black-75);
  border-radius: 1rem;
  background: var(--yellow-note);
  box-shadow: 0 0.5rem 0 var(--gold-light);
  aspect-ratio: 1/1.25;
  filter: drop-shadow(0 0 0.5rem var(--black-20));
}

#result-list:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 4rem;
  content: '';
  background-image: radial-gradient(
    circle,
    var(--black-75) 35%,
    transparent 36%
  );
  background-size: calc(15% * (100 / 90));
  translate: 5.3% -5%;
}

#result-list:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  content: '';
  background: linear-gradient(
    to right,
    transparent 5%,
    var(--white) 5%,
    var(--grey) 10%,
    transparent 10%,
    transparent 20%,
    var(--white) 20%,
    var(--grey) 25%,
    transparent 25%,
    transparent 35%,
    var(--white) 35%,
    var(--grey) 40%,
    transparent 40%,
    transparent 50%,
    var(--white) 50%,
    var(--grey) 55%,
    transparent 55%,
    transparent 65%,
    var(--white) 65%,
    var(--grey) 70%,
    transparent 70%,
    transparent 80%,
    var(--white) 80%,
    var(--grey) 85%,
    transparent 85%
  );
  translate: 5% -40%;
}

.list-body {
  overflow: auto;
  max-height: 100%;
}

#win-rate,
.list-item {
  font-size: 2rem;
  padding: 0 0.5rem;
  animation: var(--fade-in-default);
  border-bottom: 0.15rem solid var(--blue);
}

.status-icon {
  width: calc((1rem / 3) * 5);
  margin-right: 0.5rem;
}

.list-item {
  position: relative;
  display: flex;
  align-items: start;
  line-height: 1.6;
}
.list-item-body {
  flex: 1;
}
.list-item-body a {
  z-index: 1;
}
.versus-body {
  text-align: right;
  border-top: 0.15rem dashed var(--black-20);
  position: relative;
}
.versus-body:before {
  content: 'VS';
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  padding: 0 0.2rem;
  font-family: 'Young Serif', serif;
  font-size: 0.5em;
  color: var(--black-20);
  background: var(--yellow-note);
}

.list-item a {
  position: relative;
  color: inherit;
}

main {
  padding-bottom: 1.35em;
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

.display-none {
  display: none;
}

kbd.key {
  font-size: 1.2rem;
  position: absolute;
  z-index: 99;
  top: 33%;
  left: 50%;
  align-self: center;
  width: auto;
  height: 4rem;
  padding: 0.2rem 0.7rem 0.8rem 0.3rem;
  animation: notify-shake 3s infinite;
  color: var(--black);
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom right,
    var(--white),
    var(--grey) 45%,
    var(--grey-dark) 200%
  );
  text-shadow: none;
  translate: -50% -50%;

  aspect-ratio: 1/1.1;

  transform-style: preserve-3d;
}

kbd.key:before {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 0.2rem 0.3rem;
  content: var(--key);
  white-space: nowrap;
  border-radius: 0.3rem;
  outline: 0.1rem solid var(--grey);
  background: linear-gradient(to right, var(--grey), var(--white));
}

kbd.key.letter:before {
  font-size: 1.5rem;
  align-items: flex-start;
}

kbd.key:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  content: '';
  animation: rotateZ 3s infinite;

  box-shadow:
    0 0 2rem 2.5rem var(--gold-light),
    0 0 5rem 5rem var(--gold-dark);

  translate: -50% -50% -1px;
}

kbd.key.enter {
  top: 50%;
}

kbd.key.enter:before {
  align-items: center;
  padding-right: 2rem;
}

#reset-btn.hidden + kbd.key.enter {
  display: none !important;
}

@media screen and (max-device-width: 640px) {
  html {
    font-size: 0.4rem;
  }
}

#cheat-btn {
  display: none;
  margin-bottom: 2rem;
}

@media (hover: none) {
  #cheat-btn {
    display: revert;
  }

  .hint-controls {
    display: none;
  }
}
#settings-button {
  position: absolute;
  left: 0;
  bottom: 0;
  translate: 0.5em 77%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: var(--text-shadow-default);
  cursor: pointer;
  transition: all 150ms ease-out;
  padding: 0.1em 0.5em 0.1em 0.3em;
  border-radius: 0.25em;
  color: var(--gold-light);
  user-select: none;
}
#settings-button:hover {
  background: var(--white-20);
}

#settings-button:active {
  opacity: 0.8;
  box-shadow: none;
  transform: translateY(0.15em);
  filter: none;
}
.settings-icon {
  position: absolute;
  top: 0;
  left: 0;
  translate: 0 -0.1em;
  width: 1.8em;
  filter: drop-shadow(-0.08em 0.08em 0 var(--black-50));
  scale: -0.6 0.6;
}
.settings-icon + div {
  margin-left: 1.5em;
}
.settings-icon div {
  position: relative;
  width: 0.3em;
  aspect-ratio: 1/1 !important;
  outline: 0.1em solid;
  margin: 0.2em 0;
  border-radius: 99rem;

  left: 0.4em;
}
.settings-icon div::before,
.settings-icon div::after {
  content: '';
  display: block;
  height: 0.1em;
  width: 0.4em;
  background-color: var(--gold-light);
  border-radius: 99rem;
  position: absolute;
  top: 50%;
  left: 0;
  translate: -101% -50%;
}
.settings-icon div::after {
  width: 1.1em;
  left: unset;
  right: 0;
  translate: 101% -50%;
}
.settings-icon div:nth-child(2) {
  scale: -1 1;
  left: 1.1em;
}
#settings-button::after {
  content: '↜\00a0New!';
  font-weight: bold;
  font-size: 0.8em;
  color: var(--white);
  padding: 0.1em 0.3em;
  filter: none;
  text-shadow: var(--text-shadow-default);
  border-radius: 0.25em;
  background: var(--red);
  box-shadow: var(--text-shadow-default);
  animation: notify-shake 3s infinite;
  rotate: -10deg;
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 100% -20%;
  pointer-events: none;
}

#settings {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-shadow: var(--text-shadow-default);
}
#settings.open {
  display: block;
}
.settings-body {
  position: absolute;
  top: 20%;
  left: 50%;
  translate: -50% 0;
  background: var(--white-20);
  backdrop-filter: blur(1em);
  border-radius: 0.5em;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: calc(var(--max-content-width) / 1.5);
  width: 75%;
  box-shadow:
    inset 0 -0.5rem 0 var(--black-20),
    0 0.5rem 0.5rem var(--black-50);
}
.settings-body label {
  text-align: left;
}
#settings::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(0.3em);
  height: 100%;
  width: 100%;
}
.close-btn-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  translate: 30% -40%;
}
#settings-close {
  background: var(--red);
  min-width: 0;
  font-size: 2rem;
}
#settings.open .settings-body {
  animation: pop-in 300ms ease-out;
}
.min-price-label {
  display: flex;
  gap: 0.5em;
  align-items: end;
}
#min-price-val {
  font-family: 'Young Serif', serif;
  font-weight: normal;
  color: var(--gold-light);
}
#min-price-val .currency:after {
  content: var(--mode);
}
#min-price {
  display: flex;
  flex-direction: column;
  padding: 0 0.1em;
  font-size: 2rem;
}
#min-price-slider {
  margin: 0;
  width: 100%;
  cursor: pointer;
  appearance: none;
  background: none;
}
#min-price-slider:focus {
  outline: none;
}
#min-price-slider::-webkit-slider-runnable-track {
  appearance: none;
  background: var(--white-20);
  height: 1em;
  border-radius: 99rem;
  box-shadow: inset 0 0.25rem 0 var(--black-20);
}
#min-price-slider::-moz-range-track {
  appearance: none;
  background: var(--white-20);
  height: 1em;
  border-radius: 99rem;
  box-shadow: inset 0 0.25rem 0 var(--black-20);
}
#min-price-slider::-webkit-slider-thumb {
  appearance: none;
  background: var(--gold-light);
  display: block;
  height: 120%;
  aspect-ratio: 1/1 !important;
  translate: 0 calc(4% - 0.25em);
  scale: 2;
  border-radius: 99rem;
  box-shadow:
    0 0.125em 0.125em -0.125em var(--brown-50),
    0 0.125em var(--gold),
    0 0.125em 0.35em var(--brown-50);
}
#min-price-slider::-moz-range-thumb {
  appearance: none;
  background: var(--gold-light);
  display: block;
  height: 120%;
  aspect-ratio: 1/1 !important;
  translate: 0 calc(4% - 0.25em);
  scale: 2;
  border-radius: 99rem;
  box-shadow:
    0 0.125em 0.125em -0.125em var(--brown-50),
    0 0.125em var(--gold),
    0 0.125em 0.35em var(--brown-50);
}
#min-price-list {
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0.45rem 1rem;
  font-family: 'Young Serif', serif;
}
input[type='range'],
datalist,
datalist option {
  user-select: none;
}
option {
  line-height: 0;
  padding: 0;
  width: 2px;
  height: 2.5rem;
  background: linear-gradient(to bottom, var(--white) 20%, transparent 20%);
  display: flex;
  justify-content: center;
  align-items: end;
  text-shadow: none;
  filter: drop-shadow(0.05em 0.05em var(--black-75));
}
option:nth-child(odd) {
  background: linear-gradient(to bottom, var(--white) 40%, transparent 40%);
}
